<html ng-app="miapp">
<head>
<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_es-ar.js"></script>	
    <script src="./app.js"></script>
  </head>
  <body ng-controller="CountryCtrl">
  <input class="text" type="text" ng-model="searchText" />
	<table class="table">
		<thead>
		<td><a ng-click="predicate = 'name'; reverse = !reverse" href="">Name</a></td>
		<td><a ng-click="predicate = 'population'; reverse = !reverse" href="">Population</a></td>
		</thead>
		<tr ng-repeat="country in countries | filter: {name: searchText} | orderBy:predicate:reverse">
			<td>{{country.name}}</td>
			<td>{{country.population | number}}</td>
			<td><a href="" ng-click="remove(country)">Remove</a></td>
		</tr>
	</table>
  </body>
</html>