<div>
<a href="#/{{position-1}}">Prev</a>
<a href="#/{{position+1}}">Next</a>

<label for="">{{position}}</label>
</div>
<iframe frameborder="0" marginwidth="20px" marginheight="20px" width="1000" height="250" ng-src="{{example}}"></iframe>
<pre>{{code}}</pre>	
<pre ng-show="showjs">{{jscode}}</pre>
