<html ng-app="miapp">
<head>
	<script type="text/javascript" src="../../lib/angular.min.js"></script>
    <script src="./app.js"></script>
  </head>
  <body ng-controller="CountryCtrl">
  <input class="text" type="text" ng-model="searchText" />
	<table class="table">
		<thead>
		<td><a ng-click="predicate = 'name'; reverse = !reverse" href="">Name</a></td>
		<td><a ng-click="predicate = 'population'; reverse = !reverse" href="">Population</a></td>
		</thead>
		<tr ng-repeat="country in countries | filter: searchText | orderBy:predicate:reverse">
			<td>{{country.name}}</td>
			<td>{{country.population | number}}</td>
			<td><a href="" ng-click="remove(country)">Remove</a></td>
		</tr>
	</table>
  </body>
</html>